@model DTO.Model.DTOLEGOSet

@{
    ViewBag.Title = "LEGOSetDetails";
}

<h2>LEGOSetDetails</h2>

<div>
    <h4>DTOLEGOSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LEGOSetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEGOSetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEGOSetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEGOSetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEGOSetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEGOSetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discontinued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discontinued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InStorage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InStorage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ShowLEGOSetEdit", new { id = Model.LEGOSetID }) |
    @Html.ActionLink("Back to List", "ShowLEGOSetsList")
</p>
