@model IEnumerable<DTO.Model.DTOLEGOBrick>

@{
    ViewBag.Title = "BrickTest";
}

<h2>BrickTest</h2>

<p>
    @Html.ActionLink("Create New", "ShowLEGOBrickCreate", "LEGO")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEGOBrickID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEGOBrickID)
        </td>
        <td>
            @Html.ActionLink("Edit", "ShowLEGOBrickEdit", new { id=item.LEGOBrickID }) |
            @Html.ActionLink("Details", "ShowLEGOBrickDetails", new { id = item.LEGOBrickID }) |
            @Html.ActionLink("Delete", "DeleteLEGOBrick", new { id = item.LEGOBrickID })
        </td>
    </tr>
}

</table>
