@using DTO.Model
@model DTOLEGOSet

@{
    ViewBag.Title = "LEGO Set New Edit";
}
<link href="~/Content/LEGOSetNewEdit.css" rel="stylesheet" type="text/css" />

<div class="pageInfo">
    <h2>LEGOSetNewEdit</h2> <br />
    <p>Here you can create a new LEGO set or Edit an exsisting set</p>
</div>

@using (Html.BeginForm("UpdateLEGOSet", "LEGO", FormMethod.Post))
{
    <div class="LEGOSet">
        <div class="baseData">
            <label>ID</label>
            @Html.TextBoxFor(set => set.LEGOSetID) <br />
            <label>Set Number</label>
            @Html.TextBoxFor(set => set.LEGOSetNumber) <br />
            <label>Set Name</label>
            @Html.TextBoxFor(set => set.LEGOSetName) <br />
            <label>In storage</label>
            @Html.CheckBoxFor(set => set.InStorage) <br />
            <label>Discontinued</label>
            @Html.CheckBoxFor(set => set.Discontinued) <br>
        </div>
        <div class="setLinkData">
            <label>Contains following bricks</label> <br />
            @Html.ListBoxFor(x => x.SetBrickLinks,new SelectList(Model.SetBrickLinks, "", "BrickInfo"), new {@class = "brickLinksList" })
        </div>
    </div>

    <div class="actions">
        <input type="submit" />
        @if (!ViewBag.Update)
        {
            <button type="reset">Reset</button>
        }
        <input type="button" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "LEGO") + "'")" />

    </div>
}


