@using DTO.Model
@model DTOLEGOSet

@{
    ViewBag.Title = "LEGO Set New Edit";
}
<link href="~/Content/LEGOSetNewEdit.css" rel="stylesheet" type="text/css" />

<div class="pageInfo">
    <h2>LEGOSetNewEdit</h2> <br />
    <p>Here you can create a new LEGO set or Edit an exsisting set</p>
</div>

@using (Html.BeginForm("UpdateLEGOSet", "LEGO", FormMethod.Post))
{
    <div class="LEGOSet">
        <div class="baseData">
            <label>ID</label>
            @Html.TextBox("legoSetID", Model.LEGOSetID) <br />
            <label>Set Number</label>
            @Html.TextBox("legoSetNumber", Model.LEGOSetNumber) <br />
            <label>Set Name</label>
            @Html.TextBox("legoSetName", Model.LEGOSetName) <br />
            <label>In storage</label>
            @Html.CheckBox("inStorage", Model.InStorage) <br />
            <label>Discontinued</label>
            @Html.CheckBox("discontinued", Model.Discontinued) <br>
        </div>
        <div class="setLinkData">
            
        </div>
    </div>

    <div class="actions">
        <input type="submit" />
        @if (!ViewBag.Update)
        {
            <button type="reset">Reset</button>
        }
        <input type="button" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "LEGO") + "'")" />

    </div>
}


