
@using DTO.Model
@model DTOLEGOBrick
@{
    ViewBag.Title = "LEGOBrickNewEdit";
}

<link href="~/Content/LEGOSetNewEdit.css" rel="stylesheet" type="text/css" />

<h1>LEGO Brick NewEdit</h1>
<div>
    @using (Html.BeginForm("UpdateLEGOBrick", "LEGO", FormMethod.Post))
    {
        <label>ID</label>
        @Html.TextBoxFor(brick => brick.LEGOBrickID, new { @readonly = "readonly", @Name = "", @Disabled = true })<br />
        <label>Description</label>
        @Html.TextBoxFor(brick => brick.Description)
        @Html.ValidationMessageFor(brick => brick.Description) <br />
        <label>Design Number</label>
        @Html.TextBoxFor(brick => brick.DesignNumber)
        @Html.ValidationMessageFor(brick => brick.DesignNumber) <br />
        <label>Color</label>
        @Html.EnumDropDownListFor(brick => brick.Color)
        @Html.ValidationMessageFor(brick => brick.Color) <br />
        <div class="actions">
            <input type="submit" />
            @if (!ViewBag.Update)
            {
                <button type="reset">Reset</button>
            }
            <input type="button" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "LEGO") + "'")" />

        </div>
    }

</div>

