@model DTO.Model.DTOSetBrickLink

@{
    ViewBag.Title = "SetBrickLinkEdit";
}
<link href="~/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<h2>Edit Brick & Amount</h2>

@using (Html.BeginForm("UpdateSetBrickLink", "LEGO", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LEGOBrick, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LEGOBrickID, new SelectList(ViewBag.LEGOBricks, "LEGOBrickID", "BrickInfo"), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.SetBrickLinkID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Name = "", @Disabled = true } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.LEGOSetID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Name = "", @Disabled = true } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.NewObject, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Name = "", @Disabled = true } })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (!ViewBag.New)
{
    <div>
        @Html.ActionLink(linkText: "Cancel", actionName: "ShowLEGOSetEdit", controllerName: "LEGO", routeValues: new { id = ViewBag.LEGOSet }, htmlAttributes: null)
    </div>
}
else
{
    <div>
        @Html.ActionLink("Cancel", "ShowLEGOSetCreate")
    </div>
}
