@model IEnumerable<DTO.Model.DTOSetBrickLink>

<p>
    @Html.ActionLink("Add LEGO Brick", "ShowSetBrickLinkCreate", "LEGO")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEGOBrick.DesignNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEGOBrick.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEGOBrick.DesignNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEGOBrick.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "ShowSetBrickLinkEdit", new { id=item.SetBrickLinkID }) |
            @Html.ActionLink("Details", "ShowSetBrickLinkDetails", new { id=item.SetBrickLinkID }) |
            @Html.ActionLink("Delete", "DeleteSetBrickLink", new { id=item.SetBrickLinkID })
        </td>
    </tr>
}

</table>
