@model IEnumerable<DTO.Model.DTOSetBrickLink>
<link href="~/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<p>
    <input name="submit" type="submit" value="Add Brick" class="btn btn-default" />
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEGOBrick.DesignNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEGOBrick.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEGOBrick.Color)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEGOBrick.DesignNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEGOBrick.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEGOBrick.Color)
            </td>

            <td>
                @Html.ActionLink("Edit", "ShowSetBrickLinkEdit", new { id = item.SetBrickLinkID })
                @Html.ActionLink("Delete", "DeleteSetBrickLink", new { id = item.SetBrickLinkID })
            </td>

        </tr>
    }

</table>
